<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.MemberMapper">
	<insert id="postJoin">
		insert into member
		values
		(#{userId},#{userPw},#{userName},#{userGender},
		#{userBirthYear},#{userBirthMonth},#{userBirthDay},
		#{userBirthFlag},#{userPhone},#{userEmail})
	</insert>
	
	<select id="checkId" resultType="int">
		select Count(userId)
		from member
		where userId=#{userId}
	</select>
	
	<select id="postLogin" resultType="int">
		select Count(userId)
		from member
		where userId=#{userId} and userPw=#{userPw}
	</select>
	
	<select id="getLogin" resultType="com.team.domain.MemberDTO">
		select userId,userPw
		from member
		where userId=#{userId} and userPw=#{userPw}
	</select>
	
	<select id="postFindId" resultType="int">
		select Count(userName)
		from member 
		where userName=#{userName} and userEmail=#{userEmail}
	</select>
	
	<select id="getFindId" resultType="com.team.domain.MemberDTO">
		select userId,date
		from member
		where userName=#{userName} and userEmail=#{userEmail}
	</select>
	
	<select id="postFindPw" resultType="int">
		select Count(userId)
		from member 
		where userId=#{userId}
	</select>
	
	<select id="getFindPw" resultType="com.team.domain.MemberDTO">
		select userEmail
		from member
		where userId=#{userId}
	</select>
	
</mapper>