.memberWrapInner{
    width: 500px;
    margin: 0 auto;
}

fieldset{
    border: 1px solid #ddd;
    padding: 30px;
    margin-top: 100px;
}
.loginInput{
    margin-bottom:10px;
}
.memberInfoTxt{
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
    margin-bottom: 20px;
}
.getIdBox{
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
    margin-bottom: 20px;
}
.checkWrap {
    display: block;
    margin-bottom: 20px;
}
input.saveId[type=checkbox]:not(old) {
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0 none;
    background: #fff;
    cursor: pointer;
}
input.saveId[type=checkbox]:checked + label, input.mem[type=checkbox]:active + label {
    background: #fff url(//image.istarbucks.co.kr/common/img/util/mem/mem_check_on.png) no-repeat 0 0;
    background-size: 26px;
}
input.saveId[type=checkbox]:not(old) + label {
    position: relative;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 35px;
    background: #fff url(//image.istarbucks.co.kr/common/img/util/mem/mem_check_off.png) 0 0 no-repeat;
    font-size: 16px;
    color: #3f4141;
    cursor: pointer;
    vertical-align: top;
    background-size: 26px;
    cursor: pointer;
    z-index: 4;
}
.btn_login_wrap{
    margin-bottom: 20px;
}
.warntxt_member{font-size: 14px; margin-bottom: 20px; line-height: 1.8em;}


.btn_member_wrap ul{display: flex; justify-content: space-around;}
.btn_member_wrap ul li{position: relative;}
.btn_member_wrap ul li a:hover{text-decoration: underline;}
.btn_member_wrap ul li:after {
    border-right: 1px solid #ddd;
    color: #666;
    content: "";
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: -30px;
    top: 50%;
}
.btn_member_wrap ul li.last:after {border-right: 0;}


.confirmNum{display: inline-block;width: 70%;}
.bt_emailconfirm{
	display: inline-block;
	padding: 10px;
	width: 29%;
}
.next{
	margin-bottom:10px
}
